@import '../../../styles/variables.scss';

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bg_image {
	max-width: 100%;
	max-height: 100%;
}

.welcome_image_wrap {
	width: 100%;
}

.welcome_image {
	max-width: 100%;
	margin-top: 1rem;
}

.title_wrap {
	width: 100%;
	height: 100%;
	flex: 1;
	z-index: 4;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 7rem 0 0 0;
}

.title {
	margin: 0;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	color: $white;
	font-family: 'LD Scribble';
	font-size: 6.25rem;
	letter-spacing: -0.02em;
	text-shadow: 2px 3px 0px $maliColor;
}

.text {
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: $white;
	text-shadow: 2px 4px 2px $black;
}

.left_images,
.right_images {
	z-index: 3;
	transition: all 1s ease-in-out;
	position: absolute;
}

.left_images {
	left: 0;
	bottom: 0;

	.left_img {
		max-width: 60%;
	}
}

.right_images {
	right: 0;
	top: 10%;
	text-align: right;

	.right_img {
		max-width: 70%;
	}
}

.buttons_wrap {
	display: flex;
	flex-direction: column;

	button {
		margin: 0.5rem 0;
	}
}

@media only screen and (max-width: 1400px),
screen and (max-height: 700px) {
	.welcome_image {
		max-width: 70%;
	}

	.left_img,
	.right_img {
		max-width: 50%;
	}
}

@media only screen and (max-width: 1200px) {
	.title {
		font-size: 4rem;
	}
}

@media only screen and (max-width: 992px) {
	.title {
		font-size: 3rem;
	}

	.welcome_image {
		max-width: 50%;
	}
}

@media only screen and (max-width: 768px) {

	.left_img,
	.right_img {
		max-width: 50%;
	}

	.title_wrap {
		margin: 0;
		justify-content: center;
	}

	.buttons_wrap {
		button {
			margin: 0;
		}
	}
}

@media screen and (min-width: 900px) and (max-height: 850px) {
	.title_wrap {
		margin: 12rem 0 0 0;
	}

	.welcome_image {
		margin: 0;
		max-width: 50%;
	}
}