@import '../../../styles/variables.scss';

.connect_button {
    background-color: $blueBg;
    background: url('../../../assets/svg/connect-btn-bg.svg') 100% center no-repeat;
    border: 0;
    padding: 10px 1rem;
    width: 290px;
    height: 50px;
    font-size: 1.25rem;
    font-family: 'Gloria Hallelujah';
    line-height: 1;
    cursor: pointer;
}