@import '../../styles/variables.scss';

.time_over,
.time_value {
	margin: 1rem 0.5rem;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 1.25rem;
	letter-spacing: 0.5px;
}
.time_over {
	color: $red;
}
.time_value {
	color: $dark;
}
.time_btn {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}