.filters_wrap {
    width: 100%;
	position: relative;
	z-index: 3;
	margin-top: 6rem;
    padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filters {
}
.nft_list {
	width: 100%;
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}