@import '../../styles/variables.scss';

.content {
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 2rem 0;
}
.breadcrumbs_text {
    padding-left: 0.5rem;
    font-family: 'Gloria Hallelujah';
    font-weight: 400;
    font-size: 1.25rem;
    color: $activeLinkColor;
}