.mint_draw {
    margin: 2rem 0;
}

.title, .accordions_wrap {
    z-index: 6;
    position: relative;
}

.accordions_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
}

.jump_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jump_img {
    max-width: 50vw;
}

.jump_img_pallette {
    margin-top: -5rem;
}

.clouds_wrap {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    .clouds_img {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .accordions_wrap {
        width: auto;
        max-width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .jump_img {
        max-width: 70%;
    }
}