.mint_draw {
    margin: 2rem 0;
}

.accordions_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 0 auto;
}

.jump_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jump_img {
    max-width: 50vw;
}

.jump_img_pallette {
    margin-top: -5rem;
}