@import '../../../styles/variables';

.header_wrap {
	width: 100%;
	position: fixed;
	top: 0;
	height: fit-content;
	z-index: 3;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $pinkBg;
	backdrop-filter: blur(10px);
	overflow: hidden;
}

.open_mobile_header {
	background: $white;

	&.header_night_mode {
		background: rgba(8, 3, 33, 0.7);
		backdrop-filter: blur(60px);
	}
}

.nav_list {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}

.nav_list_item {
	margin: 0 1rem;
	position: relative;

	.nav_list_item_link {
		position: relative;
		font-family: 'Mali';
		font-size: 1.25rem;
		font-weight: 700;
		color: $linkColor;

		&:hover {
			color: $secondary;
		}
	}

	&.nav_link_item_canvas {
		a {
			color: $activeLinkColor;
		}

		&:before {
			content: '';
			background-color: $activeLinkColor;
			width: 5px;
			height: 5px;
			position: absolute;
			left: 50%;
			bottom: -0.5rem;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.connect_wrap,
.connect {
	display: flex;
	align-items: center;
}

.connect_wrap_image {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 1rem;
	transition: all 0.5s ease;
	cursor: pointer;
}

.connect_value {
	display: inline-block;
	font-size: 0.95rem;
	margin-right: 0.3rem;
}

.connect_circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: $activeLinkColor;
	border-radius: 50%;
	margin-right: 0.2rem;
}

.connect_eth {
	background: url('../../../assets/svg/connected-bg.svg') 100% center no-repeat;
	width: 200px;
	padding: 1rem 0.4rem;
	display: flex;
	font-size: 0.95rem;
	justify-content: center;
	align-items: center;
}

.swipe_down {
	animation-timing-function: ease-in-out;
	transform-origin: bottom center;
	animation-name: swipeDown;
	animation-duration: 1s;
}

.swipe_up {
	animation-timing-function: linear;
	transform-origin: bottom center;
	animation-name: swipeUp;
	animation-duration: 1s;
}

.burger_icon {
	display: none;
	max-width: 100%;
}

@keyframes swipeUp {
	from {
		transform: translate3d(0, 50px, 0);
	}

	to {
		transform: translate3d(0, 0vh, 0);
	}
}

@keyframes swipeDown {
	from {
		transform: translate3d(0, -50px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: 1200px) {

	.header {
		padding: 0.5rem;
	}

	.connect_value,
	.connect_eth {
		font-size: 0.8rem;
	}

	.connect_circle {
		width: 20px;
		height: 20px;
	}

	.nav_list_item {
		margin: 0 0.5rem;
		.nav_list_item_link {
			font-size: 1rem;
		}
	}

	
}

@media only screen and (max-width: 992px) {

	.nav_list,
	.connect {
		display: none;
	}

	.burger_icon {
		display: inline-block;
	}
}