/** variables **/
@import "./variables.scss";
@import "./fonts.css";

html {
  font-size: 16px;
}

html,
body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

div {
  box-sizing: border-box;
}

body,
#root {
  color: $dark;
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  min-width: 350px;
  z-index: 8;
}

.content {
  position: absolute;
  width: 100%;
  min-height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 210%;
    z-index: 1;
    transition: bottom 1s ease-in-out;
    background: linear-gradient(180deg,
        #e3fcff 0%,
        #fcecf5 31.42%,
        #f0cedd 61.98%,
        #a6b1d6 100%),
      no-repeat;
    transform: rotate(-180deg);
  }

  &.night {
    &::before {
      bottom: -100%;
    }
  }
}

.dropdown {
  &.is-open {
    z-index: 30;

    &+.dropdown-placeholder {
      opacity: 1;
    }
  }

  &+.dropdown-placeholder {
    opacity: 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.slider-container {
  width: calc(100% - 8rem);
}

.slider-control-centerleft {
  transform: translateX(-90%)!important;
}

.slider-control-centerright {
  transform: translateX(90%)!important;
  text-align: right;
}