$white: #fff;
$light: #FBFBFB;
$dark: #353945;
$grey: #F5F5F5;
$darkGrey: #787579;
$black: #1e0212;
$pink: #F4EFF4;
$linkColor: #C9C5CA;
$activeLinkColor: #4E4B9A;
$blueBg: #BBECF0;
$pinkBg: rgba(255, 252, 254, 0.6);
$whiteBg: rgba(255, 252, 254, 0.3);
$canvasBorder: #6B6DB1;
$primary: #003F65;
$secondary: #89D6F0;
$red: #B3261E;
$dropdownColor: #6750A4;
$valueColor: #691F4A;
$maliColor: #221856;