@import '../../../styles/variables.scss';

.slide_img_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slide {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
        backdrop-filter: 0;
        background: $white;
        box-shadow: 0px 8px 12px rgba(78, 75, 154, 0.15);
    }
}

.slide_img {
    width: 167px;
    height: 153px;
}

.slide_title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.3rem;
    color: $dark;
    margin: 0.5rem 0;
}

.paint {
    margin: 0;
    padding: 1rem 0.5rem;
    background: url('../../../assets/svg/gallery/paint-bg.svg') center/100% no-repeat;
}

.buttons_wrap {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}