@import '../../styles/variables.scss';

.dropdown_container {
    position: relative;
}
.arg_placeholder {
    position: absolute;
    display: block;
    z-index: 20;
    color: $dropdownColor;
    background-color: transparent;
    top: -0.5rem;
    left: 1rem;
    background-color: #B9B8D7;
    padding: 0 0.5rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &.view {
        opacity: 1;
    }
}

.dropdown {
	width: 280px;
	height: 51px;
	background: url('../../assets/svg/dropdown/dropdown-border.svg') center / 100%
		no-repeat;
        z-index: 1;
}
.dropdown_control {
	width: 100%;
	padding: 0.7rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dropdown_menu {
	width: 100%;
	padding: 1rem;
	background-color: $white;
	border: 1px solid $dropdownColor;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
		0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
    z-index: 20;
	& > div {
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: 0.5px;
		color: $black;
	}
}
.arg_placeholder {
    position: absolute;
}