@import '../../../styles/variables.scss';

.default_btn {
	background-color: $blueBg;
	background: url('../../../assets/svg/default-btn-bg.svg') center no-repeat;
	background-size: contain;
	border: 0;
	padding: 10px 1rem;
	min-width: 250px;
	min-height: 80px;
	line-height: 1;
	font-family: 'Gloria Hallelujah';
	font-weight: 400;
	font-size: 30px;
	cursor: pointer;
}
.mint_button {
	min-width: 200px;
	min-height: 60px;
	position: absolute;
	bottom: 0.75rem;
	right: 5rem;
}
.popup_btn,
.cancel_btn {
	min-width: 129px;
	min-height: 50px;
	margin: 0.5rem;
	font-weight: 700;
	font-size: 1.6rem;
	color: $activeLinkColor;
}
.popup_btn {
	background: url('../../../assets/svg/popup-btn-bg.svg') 100% no-repeat;
}
.cancel_btn {
	background-color: transparent;
	background: url('../../../assets/svg/white-btn-bg.svg') 100% no-repeat;
}
.save_popup_btn {
	min-width: max-content;
	background: transparent;
	color: $activeLinkColor;
	font-size: 1.6rem;
	font-family: 'LD Scribble';
	font-weight: 700;
}
