@import '../../../styles/variables.scss';

.default_btn {
	background-color: $blueBg;
	background: url('../../../assets/svg/default-btn-bg.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	border: 0;
	padding: 10px 1rem;
    min-width: 250px;
    min-height: 80px;
	line-height: 1;
	font-family: 'Gloria Hallelujah';
	font-weight: 400;
	font-size: 30px;
	cursor: pointer;
}
