@import '../../styles/variables.scss';

.supplies_item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.supplies_wrap {
    padding: 0 0 1rem 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(40px);
    width: 208px;
    height: 200px;
}

.item_type {
    width: 50%;
    height: 2rem;
    padding: 0.2rem 0.5rem;
    background: url('../../assets/svg/gallery/label.svg') top/100% no-repeat;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.25rem;
    color: $valueColor;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.item_type_on {
        opacity: 1;
    }
}

.item_img_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.item_img {
    width: 100px;
    height: 100px;
}

.item_title {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #79747E;
    padding-left: 0.5rem;
}
.button_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}