.content {
    width: 100%;
	background: linear-gradient(
		180deg,
		#9ce7eb 0%,
		#b3daef 22.92%,
		#c1d1f2 47.92%,
		#d1c8f5 67.71%,
		#e1bff8 100%
	);

}
.bg_image {
    max-width: 100%;
    max-height: 100%;
}
