@import '../../styles/variables.scss';

.bg_image {
	max-width: 100%;
	max-height: 100%;
}
.title_wrap {
	width: 100%;
	height: 100%;
	flex: 1;
	z-index: 4;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0 5rem 0;
}
.title {
	margin: 0;
	font-family: 'LD Scribble';
	font-weight: 700;
	font-size: 96px;
	line-height: 1;
	text-align: center;
	letter-spacing: -0.02em;
	color: #fffcfe;
	text-shadow: 2px 4px 2px #1e0212;
}
.text {
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #fffbfe;
	text-shadow: 2px 3px 2px #1e0212;
}

.left_images,
.right_images {
	z-index: 3;
	position: absolute;
	transition: all 1s ease-in-out;
}

.left_images {
	width: 50%;
	bottom: -0.5rem;
	left: 0;
	.left_img {
		transition: all 1s ease-in-out;
		max-width: 100%;
	}
	&.active {
		width: 52%;
	}
}
.right_images {
	width: 45%;
	top: 0%;
	right: -5%;
	.right_img {
		transition: all 1s ease-in-out;
		max-width: 100%;
	}
	&.active {
		width: 47%;
	}
}

.animated {
	opacity: 0;
	margin: 3rem 0;
}

.fade_in {
	opacity: 1;
	animation-timing-function: ease-in-out;
	transform-origin: bottom center;
	animation-name: fadeIn;
	animation-duration: 2s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
